[Desktop Entry]
Encoding=UTF-8
Name=Ublog
Type=Service
ServiceTypes=Plasma/Applet
Icon=view-pim-journal
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Timu Eren
X-KDE-PluginInfo-Email=selamtux@gmail.com
X-KDE-PluginInfo-Name=ublog
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://github.com/selam/ublog
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
